rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Start secure by default. Update for app-specific paths and claims.
    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
